body
{
	padding:0;
	margin:0;
}
a
{
	TEXT-DECORATION:none;
	color:#55acef;
}
.xingxikuang
{
	width:92%;
	height:100px;
}
.h1
{
	position:relative;
	width:100%;
	height:80px;
	
	transition: background-color 2s;
-moz-transition: background-color 2s;	
-webkit-transition: background-color 2s;	
-o-transition: background-color 2s;	
	
}
.hl
{
	position:relative;
	width:100%;
	height:80px;
	
	transition: background-color 1s;
-moz-transition: background-color 1s;	
-webkit-transition: background-color 1s;	
-o-transition: background-color 1s;	
	
}
.hl:hover
{
	background-color:rgb(0, 187, 255);
	
}
.h2
{
	position:fixed;
	top:0;
	width:100%;
	height:80px;
	background-color:#5ecfba;
	z-index:20;
}
.logo
{
	height:100%;
	
	width:180px;
	position:relative;
	left:5%;
}
.logo_img
{
	height:40px;
	width:40px;
	background: url(../images/4.jpg) no-repeat center;
	background-size:100% 100%;
	border-radius:100px;
	position:relative;
	top:20px;
	float:left;
}
.logo_font
{
	height:80px;
	color:white;
	font-weight:900;
	font-size:25px;
	width:120px;
	float:left;
	text-align:center;
	line-height:75px;
}
.hr
{
	position:absolute;
	width:700px;
	height:80px;
	right:5%;
	bottom:0;
}
.hu
{
	list-style-type:none;
	width:200px;
	height:80px;
	position:absolute;
	top:0;
	margin:0;
	padding:0;
}
.huu
{
	list-style-type:none;
	width:200px;
	height:80px;
	position:absolute;
	top:0;
	right:0;
	margin:0;
	padding:0;
}
.huu2
{
	list-style-type:none;
	width:400px;
	height:80px;
	position:absolute;
	top:0;
	right:0;
	margin:0;
	padding:0;
}
.hf
{
	color:black;
	float:left;
	width:100px;
	height:80px;
	text-align:center;
	line-height:75px;
	font-weight:900;
}
.hl
{
	float:left;
	color:white;
	width:100px;
	height:80px;
	text-align:center;
	line-height:75px;
	font-weight:900;
}
.t_find
{
	width:80%;
}
.header_findP
{
	position:absolute;
	bottom:40%;
	right:28%;
	width:300px;
	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3194c6), to(#5bacd6));
  background: -moz-linear-gradient(#3194c6, #5bacd6);
	padding:2px 2px;
}
#slider
{
	position:relative;
	width:100%;
	height:500px;
	perspective:800px;
}
#container
{
	transform-style:preserve-3d;
	width:650px;
	height:300px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-170px;
	margin-left:-325px;
}

.shape
{
	width:650px;
	height:300px;
	transition: transform 1s;
	background-color:white;
	position:absolute;
	left:0;
	top:0;
	margin:0;
}
/*cube*/

.cube>.one
{
	-webkit-transform:translateZ(250px);
	background: url(../images/2.png) no-repeat center;
	background-size:100% 100%;
}
.cube>.two
{
	-webkit-transform:translate(320px,0px) translateZ(-50px);
	opacity:0.5;
	background:url(../images/1.png) no-repeat center;
	background-size:100% 100%;
}
.cube>.three
{
	-webkit-transform:translate(-320px,0px) translateZ(-50px);
	opacity:0.5;
	background: url(../images/3.png) no-repeat center;
	background-size:100% 100%;
}

.sw>.one
{
	-webkit-transform:translate(320px,0px) translateZ(-50px);
	opacity:0.5;
	background: url(../images/2.png) no-repeat center;
	background-size:100% 100%;
}
.sw>.two
{
	-webkit-transform:translate(-320px,0px) translateZ(-50px);
	opacity:0.5;
	background:url(../images/1.png) no-repeat center;
	background-size:100% 100%;
}
.sw>.three
{
	-webkit-transform:translateZ(250px);
	background: url(../images/3.png) no-repeat center;
	background-size:100% 100%;
}
.kk>.one
{
	-webkit-transform:translate(-320px,0px) translateZ(-50px);
	opacity:0.5;
	background: url(../images/2.png) no-repeat center;
	background-size:100% 100%;
}
.kk>.two
{
	-webkit-transform:translateZ(250px);
	background:url(../images/1.png) no-repeat center;
	background-size:100% 100%;
}
.kk>.three
{
	-webkit-transform:translate(320px,0px) translateZ(-50px);
	opacity:0.5;
	background: url(../images/3.png) no-repeat center;
	background-size:100% 100%;
}
.db
{
	position:absolute;
	width:100%;
	height:50px;
	bottom:0;
}
.dbz
{
	height:50px;
	position:absolute;
	width:150px;
	left:50%;
	margin-left:-75px;
}
.dbk
{
	width:20px;
	height:20px;
	background-color:white;
	border-radius:50px;
	float:left;
	margin-left:22px;
	position:relative;
	top:18px;
}
.dbk:hover
{
	background-color:#3194c6;
}
#footer
{
	position:relative;
	width:100%;
	height:150px;
	background:url("../images/footer.jpg") no-repeat;
	background-size:100% 100%;
}
#tou
{
	position:relative;
	width:100%;
	height:580px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5ecfba), to(#93FF93));
 	background: -moz-linear-gradient(#93FF93, #93FF93);
}
#ttou
{
	position:relative;
	width:100%;
	height:80px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5ecfba), to(#93FF93));
 	background: -moz-linear-gradient(#93FF93, #93FF93);
}
.bl
{
	position:relative;
	width:100%;
	height:auto!important;
	height:500px;
	min-height:500px;
	
}
.bl_header
{
	position:relative;
	width:100%;
	height:80px;
	border-bottom:1px solid rgb(200, 196, 196);
}
.blname
{
	position:absolute;
	top:0;
	left:5%;
	height:80px;
	color:#5ecfba;
	border-bottom:3px solid #5ecfba;
}
.bl_main
{
	position:relative;
	width:100%;
	height:auto!important;
	height:420px;
	min-height:420px;
}
.people
{
	float:left;
	width:25%;
	height:420px;
	position:relative;
}
.pimg
{
	width:200px;
	height:200px;
	border-radius:100px;
	background: url(../images/4.jpg) no-repeat center;
	background-size:100% 100%;
	position:relative;
	left:50px;
	top:30px;
}
.pn
{
	position:absolute;
	top:55%;
	left:32%;
	color:#5ecfba;	
}
.pf
{
	width:70%;
	height:150px;
	position:absolute;
	left:15%;
	top:75%;
	color:#6E6C6C;
}
.m-headline
{
	width:90%;
	height:70px;
	position:relative;
	left:5%;
}
.m-headfont
{
	font-size: 30px;
	line-height: 70px;
	font-weight: bold;
	color: black;
	
}
.m-main
{
	width:90%;
	height:auto!important;
	height:700px;
	min-height:700px;
	position:relative;
	left:5%;
}
.m-part
{
	width:19%;
	height:330px;
	display:inline-block;
	border:1px solid rgb(200, 196, 196);
	margin-bottom:80px;
	padding:0;
	position:relative;
	top:0;
	
}
.partone
{
	width:100%;
	height:175px;
	background:url("../images/p1.jpg") no-repeat center;
	background-size:100% 100%;
	transition:  background-size 1s;
-moz-transition: background-size 1s;	
-webkit-transition: background-size 1s;	
-o-transition: background-size 1s;	
}
.partone:hover
{
	background-size:110% 110%;
}
.parttwo
{
	width:95%;
	height:75px;
	position:relative;
	left:2.5%;
	display:inline-block;
	
}
.ptt
{
	position:relative;
	top:20%;
}
.partthree
{
	width:95%;
	height:75px;
	position:relative;
	left:2.5%;
	display:inline-block;
}
.ftone
{
	font-size:13px;
	color:#999;
}
.fttwo
{
	font-weight:900;
	font-size:20px;
}
.ftthree
{
	position:relative;
	top:10px;
}
.ftfour
{
	position:relative;
	top:8px;
	left:58%;
}
.jdt
{
	width:100%;
	background-color:rgba(153, 153, 153, 0.49);
	height: 17px;
	position:relative;
	top:10px;
}
.jd
{
	width:80%;
	background-color:#00A5FF;
	height: 17px;
	position:relative;
	
}
.partfour
{
	width:95%;
	height:25px;
	position:relative;
	left:2.5%;
	background-color:blue;
	display:inline-block;
}

#jieshao
{
	width:80%;
	height:350px;
	position:relative;
	left:10%;
	top:30px;
}
.js_right
{
	width:42%;
	height:350px;
	position:relative;
	left:0;
	display:inline-block;
}
.js_t
{
	width:100%;
	height:300px;
	background:url(../images/t1.jpg);
	background-size:100% 100%;
}
.js_fenxiang
{
	width:40%;
	height:35px;
	position:absolute;
	right:0;
	bottom:0;
	background:url(../images/fx.jpg);
	background-size:100% 100%;
}
.js_left
{
	width:55%;
	height:360px;
	position:absolute;
	right:0;
	display:inline-block;
}
.js_m
{
	display:inline-block;
	width:100%;
	font-weight:bolder;
	font-size:25px;
	color:#000000;
	cursor: default;
}
.js_z
{
	display:inline-block;
	width:100%;
	position:relative;
	top:10px;
	color:#999999;
}
.js_one
{
	width:100%;
	height:60px;
	margin-top:10px;
	position:relative;
	top:20px;
}
.js_wd
{
	width:70%;
	margin-top:5px;;
	color: #333;
	font-size: 13px;
}
.genduo
{
	position:absolute;
	right:19px;
	bottom:0px;
	width:70px;
	height:30px;
	line-height:30px;
}
.jg
{
	width:141px;
	height:51px;
	position:absolute;
	right:19px;
	bottom:5px;
	font-size:25px;
	line-height:50px;
}
.a
{
	display:inline-block;
	border-radius:5px;
	text-align:center;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2daebf), to(#238896));
 	background: -moz-linear-gradient(#2daebf,#238896);
 	background: -o-linear-gradient(top,#2daebf,#238896);
 	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2daebf, endColorstr=#238896);/*IE<9>*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#2daebf, endColorstr=#238896)";/*IE8+*/
}
.a:hover
{
	animation:bluePulse 2s infinite;  
	-moz-animation: bluePulse 2s infinite;
	-webkit-animation: bluePulse 2s infinite;
	-o-animation: bluePulse 2s infinite;	
}
.b
{
	display:inline-block;
	 text-shadow: 0 -1px 1px rgba(19,65,88,.8);
	color:white;
}
@-webkit-keyframes bluePulse {
  from { background-color: #2daebf; box-shadow: 0 0 9px #333; }
  50% { background-color: #238896; box-shadow: 0 0 18px #91bd09; }
  to { backgroundcolor: #2daebf; box-shadow: 0 0 9px #333; }
}
@keyframes bluePulse {
  from { background-color: #2daebf; box-shadow: 0 0 9px #333; }
  50% { background-color: #238896; box-shadow: 0 0 18px #91bd09; }
  to { background-color: #2daebf; box-shadow: 0 0 9px #333; }
}
@-moz-keyframes bluePulse {
  from { background-color: #2daebf; box-shadow: 0 0 9px #333; }
  50% { background-color: #238896; box-shadow: 0 0 18px #91bd09; }
  to { background-color: #2daebf; box-shadow: 0 0 9px #333; }
}
@-o-keyframes bluePulse {
  from { background-color: #2daebf; box-shadow: 0 0 9px #333; }
  50% { background-color: #238896; box-shadow: 0 0 18px #91bd09; }
  to { background-color: #2daebf; box-shadow: 0 0 9px #333; }
}
#leave
{
	width:100%;
	height:auto!important;
	height:800px;
	min-height:800px;
	position:relative;
	top:40px;
	background-color:#ebeef1;
}
.leave_main
{
	width:80%;
	position:relative;
	left:10%;
	top:20px;
	height:auto!important;
	height:800px;
	min-height:800px;
}
.pinglun
{
	width:66%;
	height:auto!important;
	height:500px;
	min-height:500px;
}
.pinglun_head
{
	width:100%;
	height:65px;
	background-color:white;
}
.pz
{
	width:15%;
	height:65px;
	font-weight:900;
	text-align:center;
	line-height:60px;
	border-bottom: 4px solid #55acef;
	color: #55acef;
}
.pinglun_main
{
	width:100%;
	background-color:white;
	height:auto!important;
	height:400px;
	min-height:400px;
	position:relative;
	top:15px;
}
.pinglun_p
{
	width:100%;
	position:relative;
	top:0;
	border-bottom: 1px #e4e4e4 solid;
	background-color:white;
}
.pinglun_n
{
	padding:10px 20px;
}
.ptext
{
	width:90%;
	position:relative;
	left:5%;
	top:20px;
	height:200px;
}
.pp
{
	height:280px;
}
.aa
{
	border: 2px solid #55acef;
	display:inline-block;
	width:130px;
	height:40px;
	text-align:center;
	position:absolute;
	bottom:0;
	right:4%;
	color:#55acef;
	line-height:40px;
	transition: background-color 1s,color 1s;
-moz-transition:  background-color 1s,color 1s;	/* Firefox 4 */
-webkit-transition:  background-color 1s,color 1s;	/* Safari ºÍ Chrome */
-o-transition:  background-color 1s,color 1s;	
}
.aa:hover
{
	background-color:#55acef;
	color:white;
}

.ntouxiang
{
	width:50px;
	height:50px;
	border-radius:50px;
	vertical-align: top;
}
.nname
{
	color:#55acef;
	font-weight:900;
	padding:0;
	margin:0;
}
.nneir
{
	padding:0;
	margin-top:10px;
	font-size: 14px;
	color: #333;
}
.nr
{
	display:inline-block;
	width:90%;
}
._bottom
{
	width:100%;
	height:80px;
}
.n
{
	width:80%;
	height:40px;
	position:relative;
	left:10%;
	top:20px;
	text-align:center;
	
}
.a1
{
	border: 2px solid #55acef;
	display:inline-block;
	width:70px;
	height:35px;
	text-align:center;
	margin-right:10px;
	color:#55acef;
	line-height:40px;
	transition: background-color 1s,color 1s;
-moz-transition:  background-color 1s,color 1s;	/* Firefox 4 */
-webkit-transition:  background-color 1s,color 1s;	/* Safari ºÍ Chrome */
-o-transition:  background-color 1s,color 1s;	
}
.a1:hover
{
	background-color:#55acef;
	color:white;
}
#regisAndlogin
{
	display:none;
	position:absolute;
	top:0;
	right:0;
	z-index:30;
	padding: 0px;
	margin: 0px;
	font-family: Cambria,Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
	 background: rgba(200, 54, 54, 0.5);
	font-weight: 400;
	font-size: 15px;
	color: #1D3C41;
	overflow-y: scroll;
	width:100%;
	height:100%;
}
.pa
{
	padding-left:20px;
}